body {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: 1B1B1B;

}
.header {
  display: flex;
  color: FFFFFF;
  background-color: transparent;
  justify-content: flex-start;
  margin-left: 3%;
  font-size: 24px;

}
.info {
  color: FFFFFF;
  padding: 10px;
  border-radius: 35px;
  width: auto;
  height:auto;
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: 252525;
  font-family: "JetBrainsMono";
  font-size: 18px;
}

