body {
  margin: 0;
  padding: 0;
  background-color: 1B1B1B;
}
.header {
  display: flex;
  color: FFFFFF;
  background-color: transparent;
  justify-content: flex-start;

  font-size: 24px;
  position: sticky;
}
.information {
  background-color: 252525;
  border-radius: 7px;
  display: flex;
}
.text1 {
  display: flex;
  color: FFFFFF;
  font-family: "JetBrainsMono";
}
.me {
  color: FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "JetBrainsMono";
  position: sticky;
  padding: 10px;
  font-size: 20px;
}
.ico {
  width: 30px;
}
@media screen and (max-width: 768px) {
  .header {
    display: flex;
    color: FFFFFF;
    background-color: transparent;
    justify-content: flex-start;
    font-size: 19px;
    position: sticky;
  }
  .information {
    background-color: 1B1B1B;
  }
  .me {
    color: FFFFFF;
    display: flex;
    flex-direction: column-reverse;
    font-family: "JetBrainsMono";
    position: sticky;
    padding: 10px;
    font-size: 15px;
  }
  .ico {
    width: 15px;
  }
}
